<!doctype html>
<!-- EMAIL MANAGEMENT -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> UniNet Express Lane Services </title>
    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">    
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="js/main.js"></script>
   
    <!-- <link rel="shortcut icon" href="images/ico/favicon.ico"> -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
	<header id="header">
	    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
	      <div class="container">
	        <div class="navbar-header">          
	          <div class="navbar-brand">
	            <a href="/">
	              <img class="hidden-xs" src="uninet_navbar.gif" style="display:inline-block; height:60px" alt="logo">&nbsp;&nbsp;&nbsp;
	              <font class="hidden-xs" style="color: grey"><font style="color: darkblue">UniNet</font> Express Lane Services</font>
	              <font class="visible-xs" style="color: grey;margin-top: -1px"><font style="color: darkblue">UniNet</font> Express Lane Services</font>
	            </a>
	          </div>

	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	          </button>          
	        </div>
	        <% if(user.role===1){%>
	          <div class="collapse navbar-collapse navbar-right">
		          <ul class="nav navbar-nav">
		            <li class="scroll"><a href="/">Home</a></li>
		            <li class="scroll"><a href="/#about">About</a></li>
		            <li class="scroll"><a href="/status">Status</a></li>
		            <li class="scroll"><a href="/user">User Management</a></li>
		            <li class="scroll active"><a href="/emailmanage">Email Management</a></li>
		            <li class="scroll"><a href="/servicemanage">Service Management</a></li>
		            <li class="scroll"><a href="/globus">Globus Service</a></li>
		          </ul>
		        </div>
	        <% } %>
	      </div><!--/.container-->
	    </nav>
  	</header>

	<section id="status"> 
		<div class="container">
			<div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Email Management</h2>
        <p class="text-center wow fadeInDown">การจัดการ Email Template</p>
      </div>
		</div>
	</section>

	<section id="email_template" >
    <div class="container">
      <div class="row">
        <div class="features">
          <ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#Editor">Template Editor</a></li>
						<li><a data-toggle="tab" href="#Logs">Email Logs</a></li>
					</ul>

					<div class="tab-content">
						
						<!-- Editor Menu -->
						<div id="Editor" class="tab-pane fade in active">
							<table id="mailEditor" class="table table-striped">
								<thead>
									<tr bgcolor="#006DA6">
										<td colspan="8"><center><label><font color="white">Template Editor</font></label></center></td>
									</tr>
									<tr>
										<th>ID</th>
										<th>Template</th>
									</tr>
								</thead>
								<tbody>
									<% if(data.length){
										for(var i = 0;i < data.length;i++) { %>
											<tr>
												<td><%=data[i].id%></td>
												<td><%=data[i].Text%></td>
												<td><a data-toggle="modal" href="#edit<%=data[i].id%>"><span class="glyphicon glyphicon-edit"></span>Edit</a></td>
											</tr>
										<% }
									}else{ %>
										<tr>
											<td colspan="6"><center>No Email Template</center></td>
										</tr>
									<% } %>
								</tbody>	
							</table>  
							<% if(data.length){
								for(var i = 0;i < data.length;i++) { %>
									<div id="edit<%=data[i].id%>" class="modal fade" role="dialog">
										<form action="/emailmanage/mailsave/<%=data[i].id%>" method="post">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-body">
														<div class="form-group">
															<label><font color="red">*</font> ID</label>
															<input type="text" class="form-control" name="id" id="id" placeholder="id" value="<%=data[i].id%>" required="true">
														</div>
														<div class="form-group" >
															<label><font color="red">*</font> Text</label>
															<textarea type="text" class="form-control" name="Text" id="Text" placeholder="Text" value="<%=data[i].Text%>" required="true" rows="10"><%=data[i].Text%></textarea>
														</div>
													</div>
													<div class="modal-footer">
														<button type="submit" class="btn btn-success" value="save">Save</button>
														<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
													</div>
												</div><!-- modal-content -->
											</div><!-- modal-dialog -->
										</form>
									</div><!-- editID -->
								<% }%><!-- endfor -->
							<% } %><!-- endif -->
						</div><!-- Editor -->								
						<!-- End of Editor Menu-->

						<!-- Logs Menu -->
						<div id="Logs" class="tab-pane fade">
							<table id="logtable" class="table table-striped table-bordered">
								<thead>
									<tr bgcolor="#006DA6">
										<td colspan="8"><center><label><font color="white">Email Logs</font></label></center></td>
									</tr>
									<tr>
										<th>Date</th>
										<th>Sender</th>
										<th>Reciver</th>
										<th>Email Data</th>
									</tr>
								</thead>
								<tbody>
									<% if(logs.length){
										for(var i = 0;i < logs.length ;i++) { %>
											<tr>
												<td style="width: 10%"><%=logs[i].logDate%></td>
												<td style="width: 10%"><%=logs[i].Sender%></td>
												<td style="width: 20%"><%=logs[i].Reciver%></td>
												<td style="width: 60%"><%=logs[i].emailData%></td>
											</tr>
										<% }
									}else{ %>
										<tr>
											<td colspan="6"><center>No Email Logs</center></td>
										</tr>
									<% } %>
								</tbody>	
							</table> 
						</div><!-- Logs -->
						<!-- End of Logs Menu-->							
					</div>
				</div>
      </div><!--/.row-->    
    </div><!--/.container-->
	</section><!--/#services-->
	
	<footer id="footer">
	    <div class="container">
	      	<div class="row">
	        	<%include ./footer %>
	      	</div>
	    </div>
	</footer><!--/#footer-->

	<script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/dataTables.bootstrap.min.js"></script>
    
	<script>
	$(document).ready(function() {
    $('#logtable').dataTable();
    $('#mailEditor').dataTable();
  } );
	</script>
</body>
</html>