<!doctype html>
<!-- Service Activity Page -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> UniNet Express Lane Services </title>
  <!-- core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">    
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/owl.transitions.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="css/jquery-ui.min.css" rel="stylesheet">
  <link href="css/datepicker.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->    

  <!-- Alternative Style -->
  <!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/mousescroll.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/jquery.dataTables.min.js"></script> 
  <script src="js/jquery-ui.min.js" ></script>

  <!-- <link rel="shortcut icon" href="images/ico/favicon.ico"> -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

  <script>
    function checkForm(form){

      mac = /^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$/;  
      if(!mac.test(form.resourceString1.value)) {  
        //alert("Error: Source MAC Address Is Error!");
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Error: Source MAC Address Not Correct!</strong>";
        form.resourceString1.focus();
        return false;  
      }
      if(!mac.test(form.resourceString2.value)) {  
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Error: Destination MAC Address Not Correct!</strong>";
        form.resourceString2.focus();
        return false;  
      }

      ip = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
      if(!ip.test(form.IP1.value)) {  
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Error: Source IP Address Not Correct!</strong>";
        form.IP1.focus();
        return false;  
      }
      if(!ip.test(form.IP2.value)) {  
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Error: Destination IP Address Not Correct!</strong>";
        form.IP2.focus();
        return false;  
      }

      if(document.getElementById('resourceString1').value === document.getElementById('resourceString2').value) { 
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Unable to choose the same node. Try again?</strong>";
        return false;
      } else {
        document.getElementById('alert').innerHTML = "";
      }
    }
  </script>
</head><!--/head-->
<body id="home" class="homepage">

  <header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="uninet_navbar.gif" style="display:inline-block; height:60px" alt="logo">&nbsp;&nbsp;&nbsp;
          <font>UniNet Express Lane Services</font></a>
        </div>
        <% if(user.role!==1){%>
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="scroll"><a href="/">Home</a></li>
                <li class="scroll"><a href="/#about">About</a></li>
                <li class="scroll"><a href="/#status">Status</a></li>
                <li class="scroll"><a href="/service">Services</a></li>
                <li class="scroll active"><a href="/serviceac">Service Activities</a></li>
                <li class="scroll"><a href="/document">Document</a></li>
                <li class="scroll"><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        <% } %>
      </div><!--/.container-->
    </nav>
  </header>

  <section id="status">
    <div id="container"> 
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Service Activities</h2>
          <p class="text-center wow fadeInDown">บริการของผู้ใช้</p>
      </div>
    </div>
  </section>

  <section id="email_template" class="wow fadeIn">
    <div class="container">
      <div class="row">     
        <div class="features">

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#all_services">All Services</a></li>
            <li><a data-toggle="tab" href="#state">Services State</a></li>
            <li><a data-toggle="tab" href="#history">History Logs</a></li>
          </ul>

          <div class="tab-content">

            <div id="all_services" class="tab-pane fade in active">
              <table id="my_reserve" class="table table-striped">
                <thead>
                  <tr bgcolor="#1E90FF">
                      <td colspan="8"><center><label><font color="white">My Reserve Express Lane</font></label></center></td>
                  </tr>
                  <tr>
                    <th>Source MAC</th>
                    <th>Destination MAC</th>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(data.length){               
                  for(var i = 0;i < data.length;i++) { %>
                    <tr>
                      <td><%=data[i].resourceString1%></td>
                      <td><%=data[i].resourceString2%></td>
                      <td><%=data[i].IP1%></td>
                      <td><%=data[i].IP2%></td>
                      <td><%=data[i].startTime%></td>
                      <td><%=data[i].endTime%></td>
                      <td>
                        <% if(data[i].actType === 0) { %>
                          <button type="button" class="btn btn-info btn-sm" style="width: 90%"> <%= data[i].nameE %></button>
                        <% } %>
                        <% if(data[i].actType === 4) { %>
                          <button type="button" class="btn btn-success btn-sm" style="width: 90%"> <%= data[i].nameE %></button>
                        <% } %>
                        <% if(data[i].actType === 7) { %>
                          <button type="button" class="btn btn-primary btn-sm" style="width: 90%"> <%= data[i].nameE %></button>
                        <% } %>
                      </td>
                      <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" href="#cancel_service_modal<%=data[i].said%>"><span class="fa fa-close" aria-hidden="true"></span> Cancel</button></td>
                    </tr>
                  <% }
                  } %>
                </tbody>
              </table>

              <hr><br>

              <p align="center"><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#ReserveModal"><span class="fa fa-plus" aria-hidden="true"></span> Reserve New Express</button></p>

              <br>
            </div> <!-- id="all_services" -->

            <div id="state" class="tab-pane fade">
              <table id="statetable" class="table table-striped">
                <thead>
                  <tr bgcolor="#1E90FF">
                    <td colspan="7"><center><label><font color="white">State Logs</font></label></center></td>
                  </tr>
                  <tr>
                    <th>Source MAC</th>
                    <th>Destination MAC</th>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                  </tr>
                </thead>

                <tbody>
                  <% if(state.length){                                           
                    for(var i = 0;i < state.length;i++) { %>
                    <tr>
                      <td><%=state[i].resourceString1%></td>
                      <td><%=state[i].resourceString2%></td>
                      <td><%=state[i].IP1%></td>
                      <td><%=state[i].IP2%></td>
                      <td><%=state[i].startTime%></td>
                      <td><%=state[i].endTime%></td>
                      <td><%=state[i].nameE%></td>
                    </tr>                   
                    <% }                      
                  } %>
                </tbody>
              </table>
            </div> <!-- id="state" -->

            <div id="history" class="tab-pane fade">
              <table id="historytable" class="table table-striped">
                <thead>
                  <tr bgcolor="#1E90FF">
                    <td colspan="9"><center><label><font color="white">History Logs</font></label></center></td>
                  </tr>
                  <tr>
                    <th>Source MAC</th>
                    <th>Destination MAC</th>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Timestamp</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(history.length){             
                    for(var i = 0;i < history.length;i++) { %>
                    <tr>
                      <td><%=history[i].resourceString1%></td>
                      <td><%=history[i].resourceString2%></td>
                      <td><%=history[i].IP1%></td>
                      <td><%=history[i].IP2%></td>
                      <td><%=history[i].startTime%></td>
                      <td><%=history[i].endTime%></td>
                      <td><%=history[i].timestamp%></td>
                      <td><%=history[i].nameE%></td>
                    </tr>                   
                    <%}
                  }%>
                </tbody>
              </table>
            </div> <!-- id="history" -->

          </div> <!--class="tab-content"-->
        </div> <!-- class="features" -->
      </div> <!-- class="row" -->
    </div> <!-- class="container" -->
  </section>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <%include ./footer %>
      </div>
    </div>
  </footer><!--/#footer-->

  <!-- Modal Zone -->
  <% if(data.length) {                              
    for(var i = 0;i < data.length;i++) { %>
      <div id="cancel_service_modal<%=data[i].said%>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3><center> Are you sure you want to cancel Express Lane Service? </center></h3>
            </div>
            <div class="modal-footer">
              <a class="btn btn-success" href="/serviceac/cancel/<%=data[i].said%>">Yes</a>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div> 
    <% } %>
  <% } %>

  <div class="modal fade" id="ReserveModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/addServiceac" method="post" onsubmit="return checkForm(this);">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3><center>Reserve New Express</center></h3>
          </div>
        
          <div class="modal-body">
            <div id="alert" class="hide" role="alert"></div>
            <label>Source: </label>
            <div class="container">
              <div class="row">
                <div class="dropdown col-xs-3">
                  <select class="form-control" name="resourceString1" id="resourceString1" onclick="showFn1()">
                    <option id="src_select" disabled="disabled"><- Please Select Item -></option>
                    <option value="00:13:F7:D1:D2:35">BSE(KMUTNB)</option>
                    <option value="00:26:5A:7C:03:AF">PYT1(Uninet)</option>
                    <option value="00:13:F7:D1:D2:2D">PYT2(CU)</option>
                    <option value="00:1C:F0:CF:EB:AE">SLA(MU)</option>
                    <option value="5C:D9:98:53:BF:0F">RMUTSB(RMUTSB)</option>
                    <option value="00:13:F7:D1:D2:2F">RMUTT(RMUTT)</option>
                    <option value="00:18:F8:0B:59:17">KKU(KKU)</option>
                  </select>
                </div>
                <div class="col-xs-9">
                  <button class="btn btn-default" id="show_src" disabled="disabled"></button> 
                  <button class="btn btn-default" id="show_srcip" disabled="disabled"></button> 
                  <input type="hidden" name="IP1" id="IP1"></input>
                </div>
              </div>  
            </div>

            <br>

            <label>Destination: </label>
            <div class="container">
              <div class="row">
                <div class="dropdown col-xs-3">
                  <select class="form-control" name="resourceString2" id="resourceString2" onclick="showFn2()">
                    <option id="dest_select" disabled="disabled"><- Please Select Item -></option>
                    <option value="00:13:F7:D1:D2:35">BSE(KMUTNB)</option>
                    <option value="00:26:5A:7C:03:AF">PYT1(Uninet)</option>
                    <option value="00:13:F7:D1:D2:2D">PYT2(CU)</option>
                    <option value="00:1C:F0:CF:EB:AE">SLA(MU)</option>
                    <option value="5C:D9:98:53:BF:0F">RMUTSB(RMUTSB)</option>
                    <option value="00:13:F7:D1:D2:2F">RMUTT(RMUTT)</option>
                    <option value="00:18:F8:0B:59:17">KKU(KKU)</option>
                  </select>
                </div>
                <div class="col-xs-9">
                  <button class="btn btn-default" id="show_dest" disabled="disabled"></button> 
                  <button class="btn btn-default" id="show_desip" disabled="disabled"></button> 
                  <input type="hidden" name="IP2" id="IP2"></input>
                </div>
              </div>  
            </div>

            <br>

            <label>Duration of services: </label>
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="input-daterange" id="datePickerNewXL">
                    <input type="text" style="text-align: center;" class="datePicker" name="startTime" id="startTime" placeholder="YYYY/MM/DD hh:mm" size="17" required="true">
                    &nbsp;to&nbsp;
                    <input type="text" style="text-align: center;" class="datePicker" name="endTime" id="endTime" placeholder="YYYY/MM/DD hh:mm" size="17" required="true">
                    &nbsp;&nbsp;<span class="fa fa-calendar btn-default"></span>
                  </div>
                </div>
              </div>
            </div>              
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-md" value="addServiceac" >Submit</button> 
            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Cancel</button> 
          </div><!--class="modal-footer"-->

        </form>
      </div><!--class="modal-content"-->
    </div><!--class="modal-dialog" role="document"-->
  </div> <!-- id="ReserveModal" --> 

  <script type="text/javascript">
    var Mac_table = [ 
        {
          name: 'KMUTNB',
          id: 'BSE',
          mac: '00:13:F7:D1:D2:35',
          ip: '10.10.1.1'
        },
        { 
          name: 'Uninet',
          id: 'PYT1',
          mac: '00:26:5A:7C:03:AF',
          ip: '10.10.1.2'
        },
        { 
          name: 'CU',
          id: 'PYT2',
          mac: '00:13:F7:D1:D2:2D',
          ip: '10.10.1.3'
        },
        {
          name: 'MU',
          id: 'SLA',
          mac: '00:1C:F0:CF:EB:AE',
          ip: '10.10.1.4'
        },
        {
          name: 'RMUTSB',
          id: 'RMUTSB',
          mac: '5C:D9:98:53:BF:0F',
          ip: '10.10.1.5'
        },
        {
          name: 'RMUTT',
          id: 'RMUTT',
          mac: '00:13:F7:D1:D2:2F',
          ip: '10.10.1.6'
        },
        {
          name: 'KKU',
          id: 'KKU',
          mac: '00:18:F8:0B:59:17',
          ip: '10.10.1.7'
        }];  

    function showFn1() {
      document.getElementById("show_src").innerHTML = document.getElementById("resourceString1").value;
      var mti = 0; //Mac table index
      while (mti < Mac_table.length){
        if(Mac_table[mti].mac == document.getElementById("resourceString1").value){
          document.getElementById("show_srcip").innerHTML = Mac_table[mti].ip; //display
          document.getElementById("IP1").value = Mac_table[mti].ip; //pass value
          mti = 0;
          break;
        }
        mti = mti + 1;
      }        
    }
    function showFn2() {
      document.getElementById("show_dest").innerHTML = document.getElementById("resourceString2").value;
      var mti = 0; //Mac table index
      while (mti < Mac_table.length){
        if(Mac_table[mti].mac == document.getElementById("resourceString2").value){
          document.getElementById("show_desip").innerHTML = Mac_table[mti].ip; //display
          document.getElementById("IP2").value = Mac_table[mti].ip; //pass value
          mti = 0;
          break;
        }
        mti = mti + 1;
      }  
    }
  </script> 

  <script>
    $('#resourceString1').on('click', function(){
      $("#resourceString2 option").each(function(){
        if ($(this).text() == $('#resourceString1 option:selected').text()) {
          $(this).attr('disabled',true);            
        }
        else {
          $(this).attr('disabled',false);
        }
        $('#src_select').attr('disabled',true);
      });
    });
    $('#resourceString2').on('click', function(){
      $("#resourceString1 option").each(function(){
        if ($(this).text() == $('#resourceString2 option:selected').text()) {
          $(this).attr('disabled',true);
        }
        else {
          $(this).attr('disabled',false);
        }
        $('#dest_select').attr('disabled',true);
      });
    });
  </script>

  <link href="css/daterangepicker.css" rel="stylesheet">

  <script src="js/moment.min.js"></script>
  <script src="js/daterangepicker.js"></script>
  <script type="text/javascript">
    var startTime;
    var endTime;
    $(document).ready(function($) {      
      $('#my_reserve').dataTable({
          "pagingType": "full_numbers"
      });
      $('#statetable').dataTable({
          "pagingType": "full_numbers"
      });
      $('#historytable').dataTable({
          "pagingType": "full_numbers"
      });
      $('#datePickerNewXL').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
          locale: {
              format: 'YYYY/MM/DD HH:mm:ss'
          }
        }, function(start, end) {
          $('#reportrange span').html(start.format('YYYY/MM/DD HH:mm:ss') + ' - ' + end.format('YYYY/MM/DD HH:mm:ss'));
          document.getElementById("startTime").value = start.format('YYYY/MM/DD HH:mm:ss');
          document.getElementById("endTime").value = end.format('YYYY/MM/DD HH:mm:ss');
        }
      );  
    });
  </script>

</body>
</html>