  <header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">          
          <a class="navbar-brand" href="/"><img src="uninet_navbar.gif" style="display:inline-block; height:60px" alt="logo">&nbsp&nbsp&nbsp
          <font>UniNet Express Lane Services</font></a>
        </div>
        <% if(!req.isAuthenticated()) { %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        <% } else { %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile"> Signed in as:  <%= user.username %></a></li>
            <li><a href="/signout"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
          </ul>
        <% }%>
      </div><!--/.container-->      
    </nav>
    <% if(!req.isAuthenticated()) { %>
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
              <div class="loginmodal-container">
                <h2><center><b>Sign in</b></center></h2><br>
                <form action="/signin" method="post">
                  <input type="text" name="username" id="username" placeholder="Username" required="true" autofocus>
                  <input type="password" name="password" id="password" placeholder="Password" required="true">
                  <font size="10px"><b><input type="submit" name="signin" id="signin" class="btn btn-primary btn-lg" value="Sign In" style="margin-top: 5px"></b></font>
                </form>
                <div class="login-help" style="font-size: 16px">
                  <a href="/signup">Register</a> - <a href="/repass">Forgot Password</a>
                </div>
              </div>
          </div>
        </div>
      <% } %> <!-- IF isMember => BLANK_MENU -->
  </header>

  <section id="status">
    <div id="container"> 
      <div class="section-header">
          <h2 class="section-title text-center wow fadeInDown">Status</h2>
          <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
          <br>
      </div>
      <div class="row text-center">
        <% if(status_user.length){ %>
          <!-- BEGIN: Dummy Zone -->
          <div class="col-md-1 col-md-4 col-xs-6"></div>
          <div class="col-md-1 col-md-4 col-xs-6"></div>
          <!-- END: Dummy Zone -->
          <% for(var i = 0;i < status_user.length;i++) { %>
          <div class="col-md-1 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
              <p> <%=status_user[i].id%> </p>              
                <% if(status_user[i].statuss === "Offline") {%>
                  <div class="icon-circle" style="border-color: red">
                    <i class="fa fa-close status-icon" style="margin-top: 20px"></i>
                  </div>
                  <h3><%=status_user[i].zone%></h3>
                <% }if(status_user[i].statuss === "Online") {%>
                  <div class="icon-circle" style="border-color: green">
                    <i class="fa fa fa-check status-icon"></i>
                  </div>
                  <h3><%=status_user[i].zone%></h3>
                <%}%>
              <p> <%=status_user[i].start_time%> </p>
            </div>
          </div>
          <% } %>
          <!-- BEGIN: Dummy Zone -->
          <div class="col-md-1 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
              <p> More </p>
              <div class="icon-circle" style="width: 100%">
                  <i class="fa fa-plus status-icon" style="margin-top: 20px"></i>
              </div>
              <h3>Coming Soon...</h3>
            </div>
          </div>
          <div class="col-md-1 col-md-4 col-xs-6"></div>
          <div class="col-md-1 col-md-4 col-xs-6"></div>
          <!-- END: Dummy Zone -->
        <% } else { %>
            <center>No User Requested</center>
        <% } %>    
      </div>
    </div>
    <br><br>
  </section>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <%include ./footer %>
      </div>
    </div>
  </footer><!--/#footer-->